@charset "UTF-8";

/*--------------------------------
  全体
---------------------------------*/
* {
  box-sizing: border-box;
}

html {
  font-family: Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo,
  sans-serif;
  background-color: #8b8b8b;
  color:white
}

body {
  max-width: 1170px;
  margin: 0 auto;
}

ul {
  list-style-type:none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  color:#a9a9a9;
}

a:hover {
  color:#666666;
}

/*--------------------------------
  header
---------------------------------*/
.header {
  display: flex;
  align-items: center;
  background-color: antiquewhite;
  padding:20px 10px;
}

.header__title {
  margin-right: auto;
  color:black
}

.header__gnav__item {
  margin-right: 50px;
  min-width: 50px;
}

.header__gnav__item:last-child {
  margin-right: 0px;
}
/*--------------------------------
  main
---------------------------------*/
.article {
  background-color: black;
  padding:30px 20px;
}

.article__header {
  margin-bottom: 10px;
}

.article__info {
  margin-bottom: 5px;
}

.article__body {
  width:100%;
  overflow: hidden;
}

.article__body>p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.article__nav {
  margin-top: 20px;
}

.article__nav__link {
  text-decoration: underline;
}

/*--------------------------------
  footer
---------------------------------*/
.footer {
  padding:20px 20px;
  background-color: black;
  border-top: 1px solid #666666;
  display: flex;
  align-items: center;
  justify-content: center;
}


.footer__gnav__item {
  margin-left: 20px;
}